* {
  font-family: "Urbanist", sans-serif;
}

html {
  /* 62.5% of 16px = 10px */
  /* 1.5rem = 15px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 h2 p {
  margin: 0;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  /* margin: 0.8rem 0; */
  padding: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 10px 0px;
  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 1.8rem;
}

/* LOGO */
.logo {
  margin: 1rem;
  padding-left: 2rem;
  fill: none;
}

/* LIST ANCHORS */

.nav-link {
  font-weight: 600;
  font-size: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #5f6368;
  padding: 1rem 2rem;
  border-radius: 50px;
}

.nav-link:hover {
  border: none;
  background-color: #e2e8f0;
  color: black;
}

/* BUTTON */

button {
  background: #95d8ff;
  font-family: inherit;
  padding: 0.4em 1em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-left: 0.5rem;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.hamburger {
  display: none;
  margin-right: 2rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* media screen */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -120%;
    bottom: -27rem;
    padding: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    /* border-radius: 10px; */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-bottom: 1.8rem;
  }

  .nav-menu.active {
    left: 0;
    bottom: -27rem;
    /* margin: 0 auto; */
    padding-bottom: 1.8rem;
    margin: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* END OF NAV BAR */

.container {
  margin: 0;
  display: grid;
  background-color: #fafbff;
  grid-template-columns: auto auto;
  place-items: center;
}

.hero {
  font-size: 2.7rem;
  margin: 0;
  /* padding: 0 5rem; */
}

.cover-img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .hero > h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 950px) {
  .container {
    grid-template-columns: auto;
    place-items: center;
  }

  .hero {
    font-size: 2rem;
    padding-top: 3rem;
  }

  .container > h2 {
    font-size: 1rem;
  }
  .cover-img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-left: 2rem;
    font-size: 2.7rem;
  }
}

/* PROJECTS SECTION */

#projects {
  font-size: 6rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  background-color: #fafbff;
}

/* CARDS SECTION */

.card {
  margin: 5rem 0;
  width: 250px;
  height: 360px;
  background: #e2e8f0;
  padding: 0.4em;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.category {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .project {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
  }

  #projects {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 630px) {
  .project {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    /* grid-gap: 0px; */
  }
  .card {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
  }
  #projects {
    font-size: 4.3rem;
  }
}
